#parse("/velocity/layout/post-project.vm")
#@mainLayout()
<body>
    <div style="with: 100%;">
        <div style="width: 60%; margin: auto; padding-top: 5%;"> 
            <div class="post-group">
                <div class="post-title">
                    Tell us what you need done
                </div>
                <div class="post-content">
                Get free quotes from skilled freelancers within minutes, view profiles, ratings and portfolios and chat with them. Pay the freelancer only when you are 100% satisfied with their work.
                </div>
            </div>
            <div class="post-group">
                <div class="post-title">
                    Choose a name for your project
                </div>
                <div class="post-content form-group form-md-line-input">
                    <input id="name-of-project" style="text-align: left;" text=type="text" class="" autofocus name="email" id="email" placeholder="Name of your project">
                </div>
            </div>
            <div class="post-group">
                <div class="post-title">
                    About your company
                </div>
                <div class="post-content form-group form-md-line-input">
                    <input id="name-of-company" style="text-align: left;" text=type="text" class="" autofocus name="email" id="email" placeholder="About your company... E.g. Anduin: working about transaction">
                </div>
            </div>
            <div class="post-group">
                <div class="post-title">
                    Tell us more about your project
                </div>
                <div class="post-content form-group form-md-line-input">
                    <input id="about-project" style="text-align: left;" text=type="text" class="" autofocus name="email" id="email" placeholder="Describe your project...">
                </div>
            </div>
            <div class="post-group">
                <div class="post-title">
                    What skills are required?
                </div>
                <div class="post-content form-group form-md-line-input">
                    <input id="require-project" style="text-align: left;" text=type="text" class="" autofocus name="email" id="email" placeholder="E.g. Javascript, Vue,...">
                </div>
            </div>
            <div class="post-group">
                <div class="post-title">
                    More requirement
                </div>
                <div class="post-content form-group form-md-line-input">
                    <input id="require-more" style="text-align: left;" text=type="text" class="" autofocus name="email" id="email" placeholder="E.g. Just woman">
                </div>
            </div>
            <div class="post-group">
                <div class="post-title">
                    Salary 
                </div>
                <div class="post-content form-group form-md-line-input">
                    <input id="salary" style="text-align: left;" text=type="text" class="" autofocus name="email" id="email" placeholder="Salary for freelancer">
                </div>
            </div>
            <a href="">
                <button id="btn-post-project" class="btn btn-blue">
                    Post your project
                </button>
            </a>
        </div>
    </div>
</body>
#end