#parse("/velocity/layout/post-project.vm")
#@mainLayout()
<body>
    <div style="with: 100%;">
        <div style="width: 60%; padding: 5% 0; margin: auto;" class="post-project gaf-container">
            <div class="dashboard-tab-content hidden-title">
            <div class="Banner Banner--light PageDashboard-banner-localJobs" style="background-size: 100%; background-image: url('$host_url/images/show-project1.jpg');">
                
                <div style="background-color: #8080808c">
                    <div class="Banner-content PageDashboard-banner-localJobs-content">
                        <h2 style="color: white" class="Banner-heading PageDashboard-banner-localJobs-heading">
                            Get more work doing local jobs
                        </h2>
                        <div class="Banner-body">
                            <div style="color: lightgrey" class="PageDashboard-banner-localJobs-text">
                                From gardening to photography and more. You can earn money doing local jobs on Freelancer. Add local skills to your profile today!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-table table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                    <thead class="bg-blue">
                        <tr>
                            <th>
                                <a href="javascript:;">Status</a>
                            </th>
                            <th>
                                <a href="javascript:;">Company</a>
                            </th>
                            <th>
                                <a href="javascript:;">Project</a>
                            </th>
                            <th>
                                <a href="javascript:;">Description</a>
                            </th>
                            <th>
                                <a href="javascript:;">Salary</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="postContent">
                        #foreach( $item in $project )
                        <tr>
                            <td class="table-status">
                                #if ($is_hire) 
                                    
                                #else 
                                    #if ($item["status"])
                                        #if ($item["status"] == "offer")
                                            <div style="color: #337ab7; font-weight: bold;"> Offered </div>
                                        #else 
                                            <div style="color: #ee7070; font-weight: bold;"> Rejected </div>
                                        #end
                                    #else 
                                        #if ($item["check"] == false)
                                        <button id="join-$item["_id"]"class="btn btn-blue btn-join-job">
                                        Join 
                                        </button>
                                        #else 
                                        <button id="cancel-$item["_id"]"class="btn btn-red btn-cancel-job">
                                        Cancel 
                                        </button>
                                        #end
                                    #end
                                #end
                            </td>
                            <td class="table-date font-blue">
                                <span class="post-company" >
                                #if ($item["company"])
                                $item["company"]
                                #end 
                                </span>
                            </td>
                            <td class="table-title">
                                <p class="post-company">
                                    #if ($item["name"] )
                                    $item["name"] 
                                    #end
                                </p>
                            </td>
                            <td class="table-desc"> 
                                <p class="post-company"> 
                                    #if ($item["about"])
                                        $item["about"]
                                        </br> </br>
                                    #end
                                    #if ($item["requirement"])
                                        Requirement: </br>
                                        $item["requirement"]
                                    #end

                                </p>
                                <p class="post-company post-company-small">  
                                    #if ($item["requirement-more"])
                                    *More requirement: </br>
                                    $item["requirement-more"]
                                    #end
                                </p>
                            </td>
                            <td class="table-download">
                                <p class="post-company">
                                   #if ($item["salary"])
                                   $item["salary"]
                                   #end 
                                <p>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script id="postTemplate" type="text/x-handlebars-template">
    
</script> 
#end