#parse("/velocity/layout/login.vm")
#@mainLayout()
<div class="container-fluid padd-no login-background" style="height: calc(100vh - 50px);">
    <div class="relative-width height-full">
        <div class="middle-div" style="height: 80%;">
            <div style="background-color: #fff; width: 30%; margin: auto; border: 1px solid lightgrey; 
            border-radius: 7px!important; padding: 2% 0;">
                <h1 style="font-family: Pacifico; font-size: calc(3vw +  8px); text-align: center; 
                margin-bottom: 10%;">Sign Up!</h1>

                <div style="text-align: center; padding-bottom: 5%;">
                    <button class="loginBtn loginBtn--google">
                    Login with Google
                    </button>
                </div>
                <div class="login-form">
                    <div id="signup" class="form-group" style="text-align:center;">
                        <div class="form-group form-md-line-input has-info">
                            <input id="signup-email" type="text" class="" autofocus name="email" id="email" placeholder="Your Email">
                        </div>
                        <div class="form-group form-md-line-input has-info">
                            <input id="signup-pass" type="password" class="" autocomplete="off" name="password" id="passwd" placeholder="Your Password">
                        </div>
                        <div class="signup-objective button-group">
                            <label class="btn signup-objective-label">
                                <input type="radio" name="looking_for" id="looking_to_hire" value="Employer"
                                style="margin-right: 5px;">Hire
                            </label><label class="btn signup-objective-label">
                                <input type="radio" name="looking_for" id="looking_for_work" value="Worker"
                                style="margin-right: 5px;">Work
                            </label>
                            <div id="alert-hire-work"
                            style="font-family: Lato; font-size: 8px; font-style: italic; color: red; display: none;">* You must to choose one.</div>
                        </div>
                    </div>
                    <p style="text-align:center; color:gray; margin: 0 0 5%; font-family: Lato; font-size: 8px;"> 
                        By creating an acount, I agree to the <a target="_blank" href="">Terms and Conditions </a>
                    </p>                        
                    <button class="btn btn-blue" id="btnSignup" type="submit" style="text-transform: uppercase;">
                        Create an account
                    </button>
                    <div id="alert-email"
                    style="font-family: Lato; font-size: 8px; font-style: italic; color: red; display: none;">* Your email is registered before.</div>
                </div>
            </div>
        </div>
    </div>
</div>
#end
